@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.Quote {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.mainBox {
  width: 600px;
  height: 300px;
  background-color: white;
  border-radius: 7px;
  padding-top: 3rem;
  position: relative;
}

.quoteContainer {
  width: 85%;
  margin: auto;
  z-index: 1;
}


.quoteText {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.quoteAuthor {
  line-height: 1rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 1.5rem;
}

.footerContainer {
  bottom: 1px;
  width: 90%;
  position:absolute;
  bottom: 2rem;
}

.share {

}

.newQuoteButton {
  float: right;
}